$color-highlight: #eaeaea;
$color-base: #fff;
$color-text: #000;

.lokalcenter-touch-buttons {
  font-size: 16px;
  z-index: 10;
  bottom: 0;
  position: relative;
  height: 100%;

  display: flex;
  align-items: flex-end;

  *,
  *::before,
  *::after {
    box-sizing: border-box;
    user-select: none;
  }

  &--button {
    background: $color-base;
    border: 1px solid $color-highlight;
    color: $color-text;
    display: flex;
    flex: 1 0 0;
    height: 80%;
    justify-content: center;

    &.is-open {
      background: $color-highlight;
      transition-duration: .7s;
      transition-property: background, height;
      height: 85%;
    }

    &.is-hidden {
      background: $color-base;
      transition-duration: .7s;
      transition-property: background, height;
      height: 80%;
    }
  }

  &--button:last-child {
    border-right: 0;
  }

  &--button:first-child {
    border-left: 0;
  }

  &--button-content {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;
  }

  &--button-icon {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
  }

  &--button-text {
    flex-grow: 1;
    font-size: 1.2em;
    padding: 5%;
  }
}
