<div class="edit-menu--content-calendar is-visible" role="banner">
  <div class="edit-menu--content-inner">
    <div class="edit-menu--toggle-icon" data-ng-click="close()">
      <div class="svg-clickable">
        <object data="bundles/os2displayadmin/images/svg/cancel.svg"
                type="image/svg+xml">
          <!-- Fallback (ie8)-->
          <img src="bundles/os2displayadmin/images/cancel.png"/>
        </object>
      </div>
    </div>
    <div class="edit-menu--content-page">
      <div class="edit-menu--content-page-inner">
        <div class="itk-lokalcenter-template--quotes-tool">
          <h2 class="edit-menu--content-header">Vælg citater</h2>


          <div class="itk-lokalcenter-template--quotes-tool-add">
            <h3 class="edit-menu--content-header">Tilføj citat</h3>

            <label for="quote">Citat</label>
            <input id="quote" type="text" ng-model="newQuote.quote">
            <label for="author">Forfatter</label>
            <input id="author" type="text" ng-model="newQuote.author">
            <div class="itk-lokalcenter-template--button-add" ng-click="addQuote()">+ Tilføj citat</div>
          </div>

          <div class="itk-lokalcenter-template--quotes-tool-add">
            <h3 class="edit-menu--content-header">Valgte citater</h3>

            <div ng-repeat="quote in slide.options.quotes track by $index">
              <div>"{{slide.options.quotes[$index].quote}}" - {{slide.options.quotes[$index].author}}</div>
              <div class="itk-lokalcenter-template--button-remove" ng-click="removeQuote($index)">- Fjern citat</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
